body{
    background-image: url(image/88891.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.element{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.test_image {
   
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-image: url(image/40.jpg);
    background-size: cover;
    border-radius: 100%;

}
.test_title{
    background-color: rgba(0, 255, 170, 0.215);
    backdrop-filter: blur(2px);
    width: 210px;
    text-align: center;
    border-radius: 100px;
}
.test_title p {
    color: aquamarine;
}
.tttt{  margin: 30px;
    width: 60%;
    background: rgb(0,0,0);
    background: linear-gradient(144deg, rgba(0,0,0,0.57484243697479) 2%, rgba(201,200,200,0.5832457983193278) 100%);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    text-align: center;
    height: 400px;}